div#add-room-container{
    background-color: rgba(0, 0, 0,0.85);
    height: 100vh;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
div.add-room{
    margin-top: 3em;
    background-color: white;
    border-radius: 20px;
    width: 50em;
    /* 18 36 */
    height: 30em;
    display: flex;
}
div#form-container{
    margin-left: 3.2rem;
    justify-content: space-between;
    display: flex;
    /* justify-content: center; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 36em;
    height: 30em;
}
img#meeting-image{
    width: 18em;
    height: 30em;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
h3#agregar-sala-title{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
div.separator{
    height: 0.625em;
}
form#add-form{
    display: flex;
    flex-direction: column;
}
form#add-form input{
    margin-bottom: 1.5em;
    height: 2rem;
    border-radius: 6px;
    font-size: 1rem;
    color: #5B5B5B;
    background-color: #E5E5E5;
    padding: 0 1rem;
    text-align: left;
    border: none;   
}
form#add-form input:focus{
    outline-color:#2574EA;
}
p.form-error{
    margin-top: 0;
    margin-bottom: .2em;
    color: #B12C2C;
}
label.label-add-room{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1.5em;
}
p#terminos-condiciones{
    font-size: 14px;
    text-align: center;
    margin-top: .65em;
    margin-bottom: 1em;
    color: #808083;
}
a#terminos-condiciones-link{
    text-decoration: none;
    color: #2574EA;
}
div#form-content{
    display: flex;
    flex-direction: column;
    width: 26em;
}
button#agregar-button{
    background-color: #FC3535;
    color: white;
    border: none;
    border-radius: 6px;
    height: 2.25rem;
}
button#agregar-button:hover{
    cursor: pointer;
    background-color: #B12C2C;
}
div#pop-up-success-container{
    font-size: 90%;
    height: 3.5em;
    width: 16em;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-left: 2px;
    top: 6em;
    padding: .25em .1em;
    box-shadow: 15px 10px 20px 4px rgb(0 0 0 / 12%);
}
div#pop-up-success-container h4{
    margin: .3em 0;
    padding: 0;
    color: #2574EA;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

div#add-room-container div#image-container{
    display: none;
}
label.label-add-room {
    font-size: 1rem;
}
div#add-room-container{
    height: 300vh;
}
div.add-room{
    margin-top: 1.5rem;
    width: 86.66%;
    height: auto;
    border-radius: 12px;
}
div#form-container{
    margin: 0;
    margin-bottom: .75em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    box-sizing: border-box;
}
h3#agregar-sala-title{
    font-size: 1.5em;
    margin: 2.5rem 1.5rem;
}
div#form-content{
    width: auto;
    height: max-content;
}
form#add-form{
    /* width: min-content; */
    width: 76vw;
}
button#close-add-room-button{
    position: absolute;
    right: 24px;
    padding: 8px;
}
p.form-error{
    text-align: center;
    font-size: 14px;
}


}